body {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}
body * {
  margin: 0;
  padding: 0;
}

.transparentBackground {
  display: block;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  border-bottom: 1px solid gray;
}

.roomImg {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.footer {
  padding: 5em 0;
  background: #f2f2f2;
  font-size: 16px;
}

.footer h3 {
  margin-bottom: 20px;
  font-family: "Rubik", arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.2em;
  color: #b3b3b3;
  text-transform: uppercase;
}

.footer .list-unstyled li {
  margin-bottom: 15px;
}

.footer .list-unstyled li h3 {
  font-size: 16px;
  font-weight: normal;
  font-family: "Rubik", arial, sans-serif;
}

.footer p {
  color: #000;
}

.footer p:last-child {
  margin-bottom: 0;
}

.footer a {
  color: #000;
}

.footer a:hover {
  opacity: 0.4;
}

.footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer hr {
  width: 100%;
}

.subscribe .formGroup {
  position: relative;
}

.subscribe input[type=email] {
  padding-right: 40px;
}

.subscribe button {
  border: none;
  background: none;
  cursor: pointer;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.subscribe button span {
  font-size: 30px;
}

.search-form-wrap {
  margin-bottom: 5em;
  display: block;
}

.search-form .formGroup {
  position: relative;
}

.search-form .formGroup #s {
  padding-right: 50px;
  background: #f7f7f7;
  padding: 15px 15px;
  border: none;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-entry-sidebar .post-meta {
  font-size: 14px;
  color: #b3b3b3;
}

.post-entry-sidebar ul {
  padding: 0;
  margin: 0;
}

.post-entry-sidebar ul li {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.post-entry-sidebar ul li a {
  display: table;
}

.post-entry-sidebar ul li a img {
  width: 90px;
}

.post-entry-sidebar ul li a img, .post-entry-sidebar ul li a .text {
  display: table-cell;
  vertical-align: middle;
}

.post-entry-sidebar ul li a .text h4 {
  font-size: 18px;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
  color: #000;
  background: #e3e3e3;
}

.blog-entry-footer .post-meta {
  color: gray;
  font-size: 15px;
}

.border-t {
  border-top: 1px solid #f8f9fa;
}

.copyright {
  font-size: 14px;
}

.element-animate {
  opacity: 0;
  visibility: hidden;
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
}

.tm-exp1, .tm-exp2 {
  background-color: rgba(0, 0, 0, 0.8);
}

.tm-exp1::after {
  content: " ";
  display: block;
  clear: both;
}

.tm-exp2::after {
  content: " ";
  display: block;
  clear: both;
}

.tm-exp1 p {
  float: right;
  padding-right: 5%;
  padding-top: 15%;
  max-width: 30%;
  font-size: 3.5vw;
  color: #fff;
}

.tm-exp2 p {
  float: left;
  padding-left: 5%;
  padding-top: 15%;
  max-width: 30%;
  font-size: 3.5vw;
  color: #fff;
}

.tm-exp1 img {
  display: block;
  float: left;
  max-width: 60%;
  width: 60%;
  height: auto;
}

.tm-exp2 img {
  display: block;
  float: right;
  max-width: 60%;
  width: 60%;
  height: auto;
}

.tm-expsection::after {
  content: ".";
  font-size: xx-small;
  visibility: hidden;
}

.insideRoomSection {
  display: flex;
}

.roomClassMain {
  max-width: 33.33333%;
  width: 33.333333%;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  margin: 0px;
  position: relative;
}

.roomClassMain p {
  font-size: 2.5vw;
  color: #fff;
  text-align: center;
  padding: 5%;
  z-index: 2;
  position: relative;
}

.roomImg {
  max-width: 100%;
  width: 100%;
}

.describeRoom {
  display: inline-block;
  position: absolute;
  top: 78%;
  color: #fff;
  max-width: 100%;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.describeRoom p {
  font-size: 1.8vw;
}

.describeRoom div {
  display: inline-table;
  width: 40%;
  max-width: 40%;
  margin: 2%;
}

.describeRoom div .bold {
  color: goldenrod;
}

.roomClassMain:hover .describeRoom {
  top: 30%;
  transition: top 1s, opacity 1s, height 1s;
  opacity: 1;
  height: 50%;
  z-index: 1;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  padding: 20px;
  position: relative;
}

.firstColumn {
  display: inline-table;
  max-width: 30%;
  width: 30%;
  margin: 2% 0 2% 4%;
}

.secondColumn {
  display: inline-table;
  max-width: 30%;
  width: 30%;
  margin: 2% 0 2% 25%;
}

.firstColumn .bold, .secondColumn .bold {
  color: #fff;
  font-size: 1.5vw;
  font-weight: 700;
  padding-bottom: 4%;
}

.firstColumn p, .secondColumn p {
  color: #fff;
  font-size: 1.2vw;
}

.tm-media {
  display: inline;
  margin: 0 0 0 59%;
}

.tm-media img {
  margin: 0.5%;
  width: 3%;
  height: auto;
}

.tm-up {
  position: absolute;
  top: 20%;
  right: 3%;
  width: 3%;
  height: auto;
}

.tm-review:focus {
  outline: none;
}

.tm-revcon:focus {
  outline: none;
}

/*# sourceMappingURL=MenuStyle.css.map */
